.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: var(--z-backdrop);

  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop.show {
  opacity: 1;
  visibility: visible;
}
